span {
    font-size: 400%;
    font-weight: bolder;
    color: blue;   
}

#parameters{
    max-width: 800px;
    padding-top: 40px;
    padding-right: 60px;
    align-content: left;
}

.btn {
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
