body {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(173, 217, 245, 0), rgba(173, 217, 245, 0)), url(images/background.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}


span {
    font-size: 400%;
    font-weight: bolder;
    color: white;   
}

#parameters{

    align-content: center;
}

.allcontent {
    margin: auto;
    text-align: center;
    justify-content: center;
  }

