span {
    font-size: 400%;
    font-weight: bolder;
    color: blue;   
}

#parameters{

    align-content: center;
}

main, nav {
    margin: auto;
    text-align: center;
    justify-content: center;
  }

 
